/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import '~bootstrap/dist/css/bootstrap.css';

body {
	position: relative;
	color: white;
	height: 100vh;
	background-color: #232c39;
	background-image: url("assets/cool-background_1.png");
	font-family: 'PT Sans Narrow', sans-serif;
	overflow-y: hidden;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg {
	/* The image used */
	background-image: url("assets/cool-background.png");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h2 {
	margin: 0;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #fff;
}

p {
	font-size: 24px;
}

li {
	list-style: none;
}

a {
	color: white;
	opacity: 0.75;
	text-decoration: none;
}

a:hover {
	opacity: 1;
	text-decoration: none;
	cursor: pointer;
}
